/* google font poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/* universal selectors */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common utility */

.navbar-wrapper,
.footer-wrapper {
    background-color: rgb(71,85,105);
}

.navbar,
.main-content {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-childs {
    width: 50%;
    position: relative;
}

.btn-primary {
    border: 2px solid gray;
    padding: .5rem 1rem;
    background-color: transparent;
    border-radius: .30rem;
    width: max-content;
}


/* navbar styles starts here */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem 0;
    color: #fff; 
}

.navbar ul {
    display: flex;
}

.navbar ul > li {
    list-style: none;
}

.navbar ul > li > a {
    text-decoration: none;
    background-color: black;
    padding: .6rem 1rem;
    margin-left: 1rem;
    border-radius: .30rem;
    color: #fff;
}

.hamburger {
    display: none;
}

/* navbar styles ends here */

/* main content styles start here */


/* banner section styles start here */

.banner-main {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    padding: .30rem;
    background-color: rgb(242,242,242);
    border-radius: .30rem;
}

.banner-img img {
    width: 100%;
    filter: brightness(60%);
}

.fifty-off {
    background-color: #ffffff7a;
    color: black;
    width: max-content;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: .30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* banner section styles end here */

/* popular collection styles start here */

.popular-main {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    padding: 10px;
    box-shadow: 0px 19px 48px #CfC9DD;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.card img {
    width: 100%;
    border-radius: .5rem;
}

.card p {
    text-align: justify;
}

.ratings i {
    color: orange;
}

/* popular collection styles ends here */

/* main content styles end here */

/* footer styles start here */

footer {
    margin-top: 5rem;
    padding: 3rem 3rem;
    text-align: center;
}

footer p {
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
}

/* footer styles end here */